image:
  tag: ''  # Deprecated, please use global.imageTag or service specific image tag.

global:
  imageRegistry: ''
  imageTag: 'latest'
  imageRepository: 'nxprivatecloud'
  namespace: default

naming:
  nameOverride: ''
  fullNameOverride: ''

mode: private-enterprise

nxCloudAppURL: ''
verboseLogging: false
verboseMongoLogging: false
enableMessageQueue: true

frontend:
  image:
    registry: ''
    imageName: nx-cloud-frontend
    repository: ''
    tag: ''
    digest: ''
    pullPolicy: Always
  deployment:
    replicas: 1
    port: 4202
    env: []
  service:
    name: nx-cloud-frontend-service
    type: ClusterIP
    port: 8080
    annotations: {}
  resources:
    limits: {}
    requests:
      memory: '0.5Gi'
      cpu: '0.5'

nxApi:
  image:
    registry: ''
    imageName: nx-cloud-nx-api
    repository: ''
    tag: ''
    digest: ''
    pullPolicy: Always
  deployment:
    replicas: 1
    port: 4203
    env: []
  service:
    name: nx-cloud-nx-api-service
    type: ClusterIP
    port: 4203
    annotations: {}
  resources:
    limits: {}
    requests:
      memory: '1Gi'
      cpu: '1.0'

fileServer:
  image:
    registry: ''
    imageName: nx-cloud-file-server
    repository: ''
    tag: ''
    digest: ''
    pullPolicy: Always
  deployment:
    port: 5000
    env: []
  service:
    name: nx-cloud-file-server-service
    type: ClusterIP
    port: 8080
    annotations: {}
  resources:
    limits: {}
    requests:
      memory: '0.5Gi'
      cpu: '0.5'
  securityContext:
    enabled: true
    runAsUser: 10000
    runAsGroup: 10000
    fsGroup: 10000
    fsGroupChangePolicy: "OnRootMismatch"

aggregator:
  schedule: '*/10 * * * *'
  image:
    registry: ''
    imageName: nx-cloud-aggregator
    repository: ''
    tag: ''
    digest: ''
    pullPolicy: Always
  env: []
  resources:
    limits: {}
    requests:
      memory: '1200M'
      cpu: '0.5'

messagequeue:
  image:
    registry: ''
    imageName: nx-cloud-messagequeue
    repository: ''
    tag: latest
    digest: ''
    pullPolicy: Always
  deployment:
    port: 61616
    env: []
  service:
    name: nx-cloud-messagequeue
    type: ClusterIP
    port: 61616
    annotations: {}
  resources:
    limits: {}
    requests: {}

nxCloudWorkflows:
  namespace: ''
  createNamespace: false
  service:
    enabled: false
    name: ''
    externalName: ''

# Deprecated, use nxApi.deployment.replicas and frontend.deployment.replicas
replicas:
  frontend: 1
  nxApi: 1

ingress:
  skip: false

  # deprecated, use ingress.annotations
  globalStaticIpName: ''
  managedCertificates: ''
  albScheme: ''
  albListenPorts: ''
  albCertificateArn: ''
  class: ''

  annotations:
    nx.app/installed-by: 'helm'

fileStorage:
  storageClassName: ''
  size: '30Gi'
  resourcePolicy: ''

awsS3:
  enabled: false
  bucket: ''
  accelerated: false
  endpoint: ''
  enablePathStyleAccess: false

azure:
  enabled: false
  container: ''

useCosmosDb: false

gitlab:
  apiUrl: ''
  projectId: ''
  auth:
    enabled: false
  mr:
    enabled: false

github:
  auth:
    enabled: false
  pr:
    defaultWorkspaceId: ''
    enabled: false
    mode: 'webhook'
    apiUrl: ''

bitbucket:
  auth:
    enabled: false

saml:
  auth:
    enabled: false

# If you plan to deploy using your own self-signed certs, add them to a config map and provide the name here
# We will mount the configmap to the pods and import the certs contained within at `self-signed-cert.crt`
selfSignedCertConfigMap: ''

secret:
  name: ''
  nxCloudMongoServerEndpoint: ''
  adminPassword: ''
  awsS3AccessKeyId: ''
  awsS3SecretAccessKey: ''
  azureConnectionString: ''
  githubAuthClientId: ''
  githubAuthClientSecret: ''
  githubWebhookSecret: ''
  githubAuthToken: ''
  githubAppId: ''
  githubPrivateKey: ''
  gitlabAccessToken: ''

extraManifests: {}
