image:
  tag: ''

nxCloudAppURL: ''
verboseLogging: false
verboseMongoLogging: false
enableMessageQueue: false

replicas:
  frontend: 1
  api: 1
  nxApi: 1

ingress:
  skip: false
  globalStaticIpName: ''
  managedCertificates: ''
  albScheme: ''
  albListenPorts: ''
  albCertificateArn: ''
  class: ''

fileStorage:
  storageClassName: ''
  size: '30Gi'

awsS3:
  enabled: false
  bucket: ''
  accelerated: false
  endpoint: ''

azure:
  enabled: false
  container: ''

useCosmosDb: false

gitlab:
  mr:
    enabled: false
    apiUrl: ''
    projectId: ''

github:
  auth:
    enabled: false
  pr:
    defaultWorkspaceId: ''
    enabled: false
    mode: 'webhook'
    apiUrl: ''

secret:
  name: ''
  nxCloudMongoServerEndpoint: ''
  adminPassword: ''
  awsS3AccessKeyId: ''
  awsS3SecretAccessKey: ''
  azureConnectionString: ''
  githubAuthClientId: ''
  githubAuthClientSecret: ''
  githubWebhookSecret: ''
  githubAuthToken: ''
  githubAppId: ''
  githubPrivateKey: ''
  gitlabAccessToken: ''
