global:
  imageTag: '2312.11.7'

nxCloudAppURL: 'URL_TO_ACCESS_INGRESS_FROM_DEV_MACHINES'

github:
  auth:
    enabled: true
  pr:
    defaultWorkspaceId: 'someworkspace'
    enabled: true
    mode: 'webhook'
    apiUrl: 'https://api.example.com/'

secret:
  name: 'cloudsecret'
  nxCloudMongoServerEndpoint: 'NX_CLOUD_MONGO_SERVER_ENDPOINT'
  adminPassword: 'ADMIN_PASSWORD'
  githubWebhookSecret: 'GITHUB_SECRET'
  githubAuthClientId: 'GH_CLIENT_ID'
  githubAuthClientSecret: 'GH_CLIENT_SECRET_VALUE'
  githubAuthToken: 'SOME_SECRET_TOKEN'

frontend:
  resources:
    requests:
      memory: '0.5Mi'
      cpu: '0.1'

nxApi:
  resources:
    requests:
      memory: '0.5Mi'
      cpu: '0.1'

fileServer:
  resources:
    requests:
      memory: '0.5Mi'
      cpu: '0.1'

aggregator:
  resources:
    requests:
      memory: '0.5Mi'
      cpu: '0.1'

extraManifests:
  secret:
    apiVersion: v1
    kind: Secret
    metadata:
      name: cloudsecret
      namespace: default
    type: Opaque
    stringData:
      NX_CLOUD_MONGO_SERVER_ENDPOINT: "mongodb://127.0.0.1"
      ADMIN_PASSWORD: "SOME_ADMIN_PASSWORD"
      GITHUB_SECRET: "I_AM_A_SECRET_VALUE"
      GH_CLIENT_ID: "I_AM_A_SECRET_VALUE"
      GH_CLIENT_SECRET_VALUE: "I_AM_A_SECRET_VALUE"
      SOME_SECRET_TOKEN: "I_AM_A_SECRET_VALUE"
      GITLAB_ACCESS_TOKEN: "I_AM_A_SECRET_VALUE"
      GITHUB_AUTH_CLIENT_ID: "A_GITHUB_ID"
      GITHUB_AUTH_CLIENT_SECRET: "A_GITHUB_CLIENT_SECRET"
      GITHUB_WEBHOOK_SECRET: "A_GITHUB_SECRET_VALUE"
      GITHUB_AUTH_TOKEN: "A_GITHUB_SECRET_VALUE"
      GITHUB_APP_PRIVATE_KEY: "A_GITHUB_SECRET_VALUE"
      GITHUB_APP_ID: "A_GITHUB_SECRET_VALUE"
      AWS_KEY: "MYAWSKEY"
      AWS_SECRET: "SUPER_SECRET_AWS_SECRET"
