global:
  imageTag: '2308.22.7'

verboseLogging: 'true'

nxCloudAppURL: 'https://something.example.com'

fileStorage:
  size: '1Gi'

clearRecordsOlderThanDays: 15

ingress:
  class: 'gce'
  globalStaticIpName: 'a-static-address'
  managedCertificates: 'a-private-cert'

github:
  auth:
    enabled: true

useCosmosDb: true
enableMessageQueue: true

billing:
  overrides:
    disableCreateBillingRecords: ''
    forceCreateBillingRecords: ''
    disableProcessBilling: ''
    forceProcessBilling: ''
    disableWarnFreePlanOrgs: ''
    forceWarnFreePlanOrgs: ''

secret:
  name: 'cloudsecret'
  nxCloudMongoServerEndpoint: 'NX_CLOUD_MONGO_SERVER_ENDPOINT'
  adminPassword: 'ADMIN_PASSWORD'
  githubAuthClientId: 'GITHUB_AUTH_CLIENT_ID'
  githubAuthClientSecret: 'GITHUB_AUTH_CLIENT_SECRET'
  githubWebhookSecret: 'GITHUB_WEBHOOK_SECRET'
  githubAuthToken: 'GITHUB_AUTH_TOKEN'
  githubPrivateKey: 'GITHUB_APP_PRIVATE_KEY'
  githubAppId: 'GITHUB_APP_ID'

frontend:
  resources:
    requests:
      memory: '0.5Mi'
      cpu: '0.1'

nxApi:
  resources:
    requests:
      memory: '0.5Mi'
      cpu: '0.1'

fileServer:
  resources:
    requests:
      memory: '0.5Mi'
      cpu: '0.1'

aggregator:
  resources:
    requests:
      memory: '0.5Mi'
      cpu: '0.1'

extraManifests:
  secret:
    apiVersion: v1
    kind: Secret
    metadata:
      name: cloudsecret
    type: Opaque
    stringData:
      NX_CLOUD_MONGO_SERVER_ENDPOINT: "mongodb://127.0.0.1"
      ADMIN_PASSWORD: "SOME_ADMIN_PASSWORD"
      GITHUB_SECRET: "I_AM_A_SECRET_VALUE"
      GH_CLIENT_ID: "I_AM_A_SECRET_VALUE"
      GH_CLIENT_SECRET_VALUE: "I_AM_A_SECRET_VALUE"
      SOME_SECRET_TOKEN: "I_AM_A_SECRET_VALUE"
      GITLAB_ACCESS_TOKEN: "I_AM_A_SECRET_VALUE"
      GITHUB_AUTH_CLIENT_ID: "A_GITHUB_ID"
      GITHUB_AUTH_CLIENT_SECRET: "A_GITHUB_CLIENT_SECRET"
      GITHUB_WEBHOOK_SECRET: "A_GITHUB_SECRET_VALUE"
      GITHUB_AUTH_TOKEN: "A_GITHUB_SECRET_VALUE"
      GITHUB_APP_PRIVATE_KEY: "A_GITHUB_SECRET_VALUE"
      GITHUB_APP_ID: "A_GITHUB_SECRET_VALUE"
      AWS_KEY: "MYAWSKEY"
      AWS_SECRET: "SUPER_SECRET_AWS_SECRET"
