apiVersion: apps/v1
kind: Deployment
metadata:
  name: nx-cloud-frontend
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "nxCloud.app.labels" . | indent 4 }}
spec:
  replicas: {{ .Values.frontend.deployment.replicas | default .Values.replicas.frontend }}
  selector:
    matchLabels:
      app: nx-cloud-frontend
  revisionHistoryLimit: 5
  progressDeadlineSeconds: 300
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  template:
    metadata:
      labels:
        app: nx-cloud-frontend
    spec:
      {{- if .Values.frontend.serviceAccountName }}
      serviceAccountName: {{ .Values.frontend.serviceAccountName }}
      {{- end }}
      containers:
        - name: nx-cloud-frontend
          image: {{ include "nxCloud.images.frontend.image" . }}
          imagePullPolicy: {{ .Values.frontend.image.pullPolicy | quote }}
          {{- if .Values.frontend.resources }}
          resources: {{- toYaml .Values.frontend.resources | nindent 12 }}
          {{- end }}
          ports:
            - containerPort: {{ .Values.frontend.deployment.port }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: {{ .Values.frontend.deployment.port }}
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: {{ .Values.frontend.deployment.port }}
            initialDelaySeconds: 5
            periodSeconds: 10
          {{- if .Values.frontend.securityContext }}
          securityContext:
          {{- toYaml .Values.frontend.securityContext | nindent 12 }}
          {{- end }}
          {{- if .Values.selfSignedCertConfigMap }}
          volumeMounts:
            - mountPath: /self-signed-certs
              name: self-signed-certs-volume
          {{- end}}
          env:
        {{- include "nxCloud.env.verboseLogging" . | indent 12 }}
        {{- include "nxCloud.env.mode" . | indent 12 }}
        {{- include "nxCloud.env.mongoSecrets" . | indent 12 }}
        {{- include "nxCloud.env.nxCloudAppUrl" . | indent 12 }}
        {{- include "nxCloud.frontend.auth" . | indent 12 }}
        {{- include "nxCloud.workflows.serviceTarget" . | indent 12 }}
        {{- include "nxCloud.frontend.nxApiTarget" . | indent 12 }}
        {{- if .Values.frontend.deployment.env }}
          {{- toYaml .Values.frontend.deployment.env | nindent 12 }}
        {{- end }}
        {{- if .Values.selfSignedCertConfigMap }}
            - name: NODE_EXTRA_CA_CERTS
              value: /self-signed-certs/self-signed-cert.crt
        {{- end}}
        {{- with .Values.secret }}
          {{- if .name }}
            {{- if .githubPrivateKey }}
            - name: NX_CLOUD_GITHUB_PRIVATE_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ .name }}
                  key: {{ .githubPrivateKey }}
            {{- end }}
            {{- if .githubAppId }}
            - name: NX_CLOUD_GITHUB_APP_ID
              valueFrom:
                secretKeyRef:
                  name: {{ .name }}
                  key: {{ .githubAppId }}
            {{- end }}
            {{- if .hubspotApiKey }}
            - name: HUBSPOT_API_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ .name }}
                  key: {{ .hubspotApiKey }}
                    {{- end }}
            {{- end }}
        {{- end }}
          {{- if .Values.frontend.deployment.envFrom }}
          envFrom:
            {{- toYaml .Values.frontend.deployment.envFrom | nindent 12 }}
          {{- end }}
      {{- if .Values.selfSignedCertConfigMap }}
      volumes:
        - configMap:
            name: {{ .Values.selfSignedCertConfigMap }}
          name: self-signed-certs-volume
      {{- end }}
