{{- if and .Values.nxCloudWorkflows.enabled .Values.nxCloudWorkflows.externalName}}
{{- if .Values.nxCloudWorkflows.headless }}
# Headless service and endpoint slice
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.nxCloudWorkflows.name }}
  namespace: {{ .Values.global.namespace }}
  labels:
    app: nx-cloud-workflow-controller
    {{- include "nxCloud.app.labels" . | indent 4 }}
spec:
  ports:
  - port: {{ .Values.nxCloudWorkflows.port }}
    protocol: TCP
    targetPort: {{ .Values.nxCloudWorkflows.port }}
---
apiVersion: v1
kind: EndpointSlice
metadata:
  name: {{ printf "%s-1" .Values.nxCloudWorkflows.name }}
  namespace: {{ .Values.global.namespace }}
  labels:
    kubernetes.io/service-name: {{ .Values.nxCloudWorkflows.name }}
    endpointslice.kubernetes.io/manage-by: helm
    app: nx-cloud-workflow-controller
    {{- include "nxCloud.app.labels" . | indent 4 }}
addressType: IPv4
ports:
- name: ''
  protocol: TCP
  port: {{ .Values.nxCloudWorkflows.port }}
endpoints:
- addresses:
  - {{ .Values.nxCloudWorkflows.externalName | quote }}
{{- else }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.nxCloudWorkflows.name }}
  namespace: {{ .Values.global.namespace }}
  labels:
    app: nx-cloud-workflow-controller
    {{- include "nxCloud.app.labels" . | indent 4 }}
spec:
  {{- if .Values.nxCloudWorkflows.externalName }}
  type: ExternalName
  externalName: {{ .Values.nxCloudWorkflows.externalName }}
  {{- end }}
{{- end }}
{{- end }}
