{{- if .Values.nxCloudWorkflows.enabled }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    {{- include "nxCloud.app.labels" . | indent 4 }}
  name: nx-cloud-workflow-controller
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: nx-cloud-workflow-controller-role
  namespace: {{ .Values.nxCloudWorkflows.namespace }}
rules:
- apiGroups:
  - ''
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - batch
  resources:
  - jobs/status
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  labels:
    {{- include "nxCloud.app.labels" . | indent 4 }}
  name: nx-cloud-workflow-controller-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: nx-cloud-workflow-controller-role
subjects:
  - kind: ServiceAccount
    name: nx-cloud-workflow-controller
    namespace: {{ .Release.Namespace }}
{{- end }}