---
apiVersion: v1
kind: Service
metadata:
  name: nx-cloud-frontend-service
  labels:
    app: nx-cloud-frontend
    {{- include "nxCloud.app.labels" . | indent 4 }}
spec:
  type: ClusterIP
  selector:
    app: nx-cloud-frontend
  ports:
    - port: 8080
      targetPort: {{- if .Values.useLegacyFrontend }} 8080 {{ else }} 4202 {{ end }}
