{{- if .Values.reverseProxy.enable }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nx-cloud-reverse-proxy-cm
  labels:
    {{- include "nxCloud.app.labels" . | indent 4 }}
data:
  haproxy.cfg: |
    # HAProxy Technologies
    # https://www.haproxy.com/

    global
      daemon
      localpeer local
      master-worker
      pidfile /var/run/haproxy.pid
      stats socket /var/run/haproxy-runtime-api.sock expose-fd listeners level admin
      stats timeout 36000
      tune.ssl.default-dh-param 2048
      ssl-default-bind-options no-sslv3 no-tls-tickets no-tlsv10
      ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:AES:CAMELLIA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA:!3DES
      hard-stop-after 1800000
      log 127.0.0.1 local0 notice
      default-path config

    defaults
      log global
      log-format '%ci:%cp [%tr] %ft %b/%s %TR/%Tw/%Tc/%Tr/%Ta %ST %B %CC %CS %tsc %ac/%fc/%bc/%sc/%rc %sq/%bq %hr %hs "%HM %[var(txn.base)] %HV"'
      option redispatch 0
      option dontlognull
      option http-keep-alive
      timeout http-request 5000
      timeout connect 5000
      timeout client 50000
      timeout queue 5000
      timeout server 50000
      timeout tunnel 3600000
      timeout http-keep-alive 60000

    frontend healthz
      mode http
      bind 0.0.0.0:1042 name v4
      bind :::1042 name v6 v4v6
      monitor-uri /healthz
      option dontlog-normal

    frontend http
      mode http
      bind 0.0.0.0:80 name v4
      bind :::80 name v6
      # route to a backend based on path's prefix
      use_backend nx-cloud-file-server-service if { path /file } || { path_beg /file/ }
      use_backend nx-cloud-nx-api-service if { path /nx-cloud } || { path_beg /nx-cloud/ }
      use_backend nx-cloud-nrwl-api-service if { path /api } || { path_beg /api/ }
      use_backend nx-cloud-nrwl-api-service if { path /graphql } || { path_beg /graphql/ }
      use_backend nx-cloud-nrwl-api-service if { path /auth } || { path_beg /auth/ }
      use_backend nx-cloud-nrwl-api-service if { path /download } || { path_beg /download/ }
      default_backend nx-cloud-frontend-service

    backend nx-cloud-file-server-service
      server server1 nx-cloud-file-server-service:5000

    backend nx-cloud-nx-api-service
      server server1 nx-cloud-nx-api-service:4203

    backend nx-cloud-nrwl-api-service
      server server1 nx-cloud-nrwl-api-service:4000

    backend nx-cloud-frontend-service
      server server1 nx-cloud-frontend-service:8080

{{- end }}