global:
  imageRegistry: 'us-east1-docker.pkg.dev/nxcloudoperations'
  imageTag: ''
  imageRepository: 'nx-cloud-enterprise-public'
  namespace: 'nx-cloud-workflows'

naming:
  nameOverride: ''
  fullNameOverride: ''

serviceAccounts:
  controller:
    annotations: {}
  runner:
    annotations: {}

controller:
  deployment:
    port: 9000
    annotations: {}
  service:
    port: 9000
    type: ClusterIP
    loadBalancerIP: ''
    loadBalancerSourceRanges: []
    annotations: {}
  env: {}
  image:
    registry: ''
    imageName: nx-cloud-workflow-controller
    repository: ''
    tag: test.0219162846
    pullPolicy: Always
  resources:
    limits:
      memory: '1Gi'
      cpu: '1.0'
    requests:
      memory: '0.5Gi'
      cpu: '0.5'

executor:
  env: {}

daemonset:
  enabled: true
  script: |
    #!/bin/bash
    set -e

    # change the file-watcher max-count on each node to 1048576

    # insert the new value into the system config
    sysctl -w fs.inotify.max_user_watches=1048576

    # check that the new value was applied
    cat /proc/sys/fs/inotify/max_user_watches

secret:
  name: 'cloudsecret'
  awsS3AccessKeyId: 'ABC123556'
  awsS3SecretAccessKey: 'BBBAAA1234'
